body{
  color: white;
  background-color: black;
}

/*******/
/* top */
/*******/

header{
  background-color: gray;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
}

/************/
/* top menu */
/************/

header li {
 list-style-type: none;
 display: inline-block;
}

header li:not(:last-child){
  border-right: 1px solid white;
}

header ul {
 text-align: center;
 border-color: rgb(223,102,47);
 margin-bottom: 0px;
}

header ul:not(:first-child){
  padding-left: 4px;
}

header a:link, header a:visited, header a:hover, header a:active {
    color: #030303;
    text-decoration: none;
}

/**********/
/* asides */
/**********/

aside{
  background-color: #040404;
  top: 121px;
  bottom: 8px;
  width: 300px;
  position: fixed;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.right{
  right: 8px;
}

.left{
  left: 8px;
}

/**********/
/* bottom */
/**********/

footer{
  background-color: #222;
  text-align: center;
  font-size: 80%;
  line-height: 12px;
  border: 1px solid #d4d4d4;
  /* positionnement */
  margin-right: 310px;
  margin-left: 310px;
  left: 8px;
  right: 8px;
  height: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: none;
}

footer a:link{
  color: #999;
}

footer a:visited{
  color: #888;
}

footer a:hover{
  color: #777;
}

footer a:active{
  color: #666;
}

/*******************/
/* general content */
/*******************/

section{
  margin-top:10px;
  margin-right: 310px;
  margin-left: 310px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

article{
  margin: 2px;
}

section article:not(:last-child){
  border-bottom: 2px dotted darkgray;
}

/*********/
/* table */
/*********/

table{
  border: none;
}

th{
  border: solid 2px white;
}

td{
  border: dotted 1px white;
}

/*#array table td[rowspan]*/
label[name="display"]{
  color: red;
}
